
*{
  font-family: 'Noto Serif KR', serif;
}


body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: 400px;
    width:100%;
    margin:0px auto;
  }

  
a {
  color:black;
  text-decoration: none;
}
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
#header{
    padding: 0 20px;  
    display: flex;
    justify-content: center;
    h1 {
      margin:0px;
    }
  }

  #Footer {        
    padding: 10px;
    margin-top: 5%;

    .bottom_menu {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width:100%;
        height: 50px;
        z-index: 100;
        border-top: 0.5px solid #e7e7e7;
        background-color: #fff;
    }

    .bottom_menu>div {
        float: left;
        width: 20%;
        height: 100%;
        text-align: center;
        padding-top: 13px;
    }

    .bottom_menu>div>i {
        opacity: 0.3;
    }

    .bottom_menu>div>.selected {
        opacity: 1;
    }

}
  
  #content {
    padding:16px 0;
    .slideshow-container {
      margin: 0 10px;
      padding: 20px;
  
      .top {
        padding-left:10px;
        margin-bottom:10px;
        font-size:16px;
        font-weight: bold;
      }
      .img {
        width: 100%;
        position:relative;

        .spotLikeImg {
          position:absolute;
          width:30px;
          bottom:20px;
          right:20px;
          font-size:14px;
          color:white;

          i {
              color:pink;
              margin-right:3px;
          }
        }
        // height:20vh;
  
        img {
          border-radius: 15px;
          width: 100%;
          height: 100%;
        }
      }
  
      .contents_txt {
        margin-top: 5px;
        font-size: 1.2rem;
        flex-direction: column;
  
        .rank {
          padding-left:10px;
          display:flex;
          justify-content: space-between;
          font-size:11px;
          text-align: center;
          font-weight: bold;
          color:black;
          margin-top:5px;
          margin-bottom:8px;

          .rank_title {
            font-size:14px;
          }
          .label {
            font-size:12px;
            color:silver;
          }
        }

        span {
          display: flex;
          font-size: 1.4rem;
          line-height: 1.4rem;
          font-weight: bold;
        }
        .tit{
          margin-bottom: 3px;
          padding-left:10px;
          font-size:13px;
          font-weight: bold;
        }
        .sub-tit {
          margin-bottom: 1px;
          font-size: 11px;
          font-weight: 300;
          padding-left: 10px;
        }
        p {
          font-size: 11px;
          font-weight: normal;
          padding-left:10px;
          color:silver;
          margin:0px;

        }
      }
    }
  }

  #board {
    margin: 0 10px;
    padding: 20px;
    .board_header {
      padding-left:10px;
      font-size: 16px;
    font-weight: bold;
    margin-bottom:10px;
    }

    .swiper {
      border-radius: 15px!important;
      
    }
    .swiper-slide{
      width:100%;
      height:300px;
      position:relative;
      
      .imgOver {
        
        position:absolute;
        top:0px;
        width:100%;
        height:40px;
        background-color: black;
        display:flex;
        justify-content: space-between;
        align-items: center;
        font-size:11px;
        opacity: 0.7;
        > div{
          color:white;
          opacity: 1;
          font-weight: bold;
          padding:0px 20px;
        }

        
      }
      .spotLikeImg {
        position:absolute;
        width:30px;
        bottom:20px;
        right:20px;
        font-size:14px;
        color:white;

        i {
            color:pink;
            margin-right:3px;
        }
      }

    }
  }

  #sidebar {
    margin: 0 10px;
  
    .slide-wrap {
      overflow:hidden;
      font-size: 10px;
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        flex-wrap: wrap;
        padding:0px;
        width:100%;

        li {
          margin-top:10px;
          flex-direction: column;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          width:25%;

          p{
            text-align: center;
            font-size:13px;
            font-weight: bold;
            margin:0px;
            margin-top:5px
          }
          a {
            width:100%;
            height:40px;
            display:flex;
            justify-content: center;
            align-items: center;
            img {
               width:35px;
               height:35px;
            }
          }
        }
      }
    }
  }
  