<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" />
    <title>Document</title>
</head>
<body>
    <a href="https://kauth.kakao.com/oauth/authorize?client_id=c88c9c1ef88f516b1b834ced22c9ea98&redirect_uri=https://localhost:3000/users/kakao/login&response_type=code">누르셈</a>
</body>
</html>