* {
  font-family: 'Noto Serif KR', serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 400px;
  width: 100%;
  margin: 0px auto;
}

a {
  color: black;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#header {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header h1 {
  margin: 0px;
}

#Footer {
  padding: 10px;
  margin-top: 5%;
}

#Footer .bottom_menu {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  z-index: 100;
  border-top: 0.5px solid #e7e7e7;
  background-color: #fff;
}

#Footer .bottom_menu > div {
  float: left;
  width: 20%;
  height: 100%;
  text-align: center;
  padding-top: 13px;
}

#Footer .bottom_menu > div > i {
  opacity: 0.3;
}

#Footer .bottom_menu > div > .selected {
  opacity: 1;
}

#content {
  padding: 16px 0;
}

#content .slideshow-container {
  margin: 0 10px;
  padding: 20px;
}

#content .slideshow-container .top {
  padding-left: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

#content .slideshow-container .img {
  width: 100%;
  position: relative;
}

#content .slideshow-container .img .spotLikeImg {
  position: absolute;
  width: 30px;
  bottom: 20px;
  right: 20px;
  font-size: 14px;
  color: white;
}

#content .slideshow-container .img .spotLikeImg i {
  color: pink;
  margin-right: 3px;
}

#content .slideshow-container .img img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

#content .slideshow-container .contents_txt {
  margin-top: 5px;
  font-size: 1.2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#content .slideshow-container .contents_txt .rank {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 11px;
  text-align: center;
  font-weight: bold;
  color: black;
  margin-top: 5px;
  margin-bottom: 8px;
}

#content .slideshow-container .contents_txt .rank .rank_title {
  font-size: 14px;
}

#content .slideshow-container .contents_txt .rank .label {
  font-size: 12px;
  color: silver;
}

#content .slideshow-container .contents_txt span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: bold;
}

#content .slideshow-container .contents_txt .tit {
  margin-bottom: 3px;
  padding-left: 10px;
  font-size: 13px;
  font-weight: bold;
}

#content .slideshow-container .contents_txt .sub-tit {
  margin-bottom: 1px;
  font-size: 11px;
  font-weight: 300;
  padding-left: 10px;
}

#content .slideshow-container .contents_txt p {
  font-size: 11px;
  font-weight: normal;
  padding-left: 10px;
  color: silver;
  margin: 0px;
}

#board {
  margin: 0 10px;
  padding: 20px;
}

#board .board_header {
  padding-left: 10px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

#board .swiper {
  border-radius: 15px !important;
}

#board .swiper-slide {
  width: 100%;
  height: 300px;
  position: relative;
}

#board .swiper-slide .imgOver {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 40px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 11px;
  opacity: 0.7;
}

#board .swiper-slide .imgOver > div {
  color: white;
  opacity: 1;
  font-weight: bold;
  padding: 0px 20px;
}

#board .swiper-slide .spotLikeImg {
  position: absolute;
  width: 30px;
  bottom: 20px;
  right: 20px;
  font-size: 14px;
  color: white;
}

#board .swiper-slide .spotLikeImg i {
  color: pink;
  margin-right: 3px;
}

#sidebar {
  margin: 0 10px;
}

#sidebar .slide-wrap {
  overflow: hidden;
  font-size: 10px;
}

#sidebar .slide-wrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px;
  width: 100%;
}

#sidebar .slide-wrap ul li {
  margin-top: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 25%;
}

#sidebar .slide-wrap ul li p {
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  margin: 0px;
  margin-top: 5px;
}

#sidebar .slide-wrap ul li a {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sidebar .slide-wrap ul li a img {
  width: 35px;
  height: 35px;
}
/*# sourceMappingURL=main.css.map */